.roots {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Logo {
    width: 300px;
    height: 200px;
}

.forCli {
    margin-right: 20px;
}

.forFac,
.forCli {
    padding: 10px;
    border: 3px solid black;
    border-radius: 15px;
    text-decoration: none;
    color: black;
}

.forFac:hover ,
.forCli:hover {
    background-color: black;
    color: #fff;
}

.btn-box {
    display: flex;
    justify-content: space-around;

}


button:active {
    scale: 1;
}

svg {
    overflow: visible !important;
}
